* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.header__link > a.active {
	color: red;
}

.nav-wrapper {
	padding: 0 15px;
}

.home {
	padding: 50px 0 50px;
	&__card-image {
		width: 100%;
	}
	&__card-title {
		font-size: 18px;
		font-weight: bold;
		height: 40px;
		margin-top: 0;
		margin-bottom: 3px;
		line-height: 20px;
	}
	&__card-brand {
		font-size: 18px;
		margin-bottom: 15px!important;
	}
	&__card-color {
		height: 40px;
	}
}

.card {
	padding: 5px 10px 15px;
}

.card .card-content {
	padding: 0 8px;
	margin: 15px 0;
}

.card .card-action {
	padding: 10px 8px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__btn {
	padding: 7px 25px;
	cursor: pointer;
	background-color: red;
	color: #fff;
	font-weight: bold;
	border: none;
	outline: none;
	letter-spacing: 1px;
	border-radius: 5px;
}

.cart__buttons-row {
	display: flex;
	column-gap: 10px;
	justify-content: center;
}


.cart__buttons-row button {
	cursor: pointer;
	padding: 3px 7px;
	border: none;
	outline: noen;
	font-weight: bold;
	color: #fff;
}

.cart__button-minus {
	background-color: red;
}
.cart__button-plus {
	background-color: green;
}

.cart__foot {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	align-items: center;
}

.cart__pay {
	cursor: pointer;
}

.card__search {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translate(-50%, -50%);
}

.card__input {
	position: relative;
}

.header__link {
	position: relative;
}

.header__cart-count {
	position: absolute;
	top: -15px;
	right: 5px;
}

.cart__title {
	text-align: center;
}

.cart__img {
	display: block;
	margin: 0 auto;
}

.card__notfound-img {
	display: block;
	width: 50%;
	margin: 0 auto;
}

.card__notfound-title {
	text-align: center;
}