* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.header__link > a.active {
	background-color: rgba(0, 0, 0, .1);
}

.nav-wrapper {
	padding: 0 15px;
}

.home {
	padding: 50px 0 50px;
	&__card-image {
		width: 100%;
	}
	&__card-title {
		font-size: 18px;
		font-weight: bold;
		height: 40px;
		margin-top: 0;
		margin-bottom: 3px;
		line-height: 20px;
	}
	&__card-brand {
		font-size: 18px;
		margin-bottom: 15px!important;
	}
	&__card-color {
		height: 40px;
	}
}

.card {
	padding: 5px 10px 15px;
	position: relative;
}

.card .card-content {
	padding: 0 8px;
	margin: 15px 0;
}

.card .card-action {
	padding: 10px 8px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__btn {
	padding: 7px 25px;
	cursor: pointer;
	background-color: red;
	color: #fff;
	font-weight: bold;
	border: none;
	outline: none;
	letter-spacing: 1px;
	border-radius: 5px;
}

.cart__buttons-row {
	display: flex;
	column-gap: 10px;
	justify-content: center;
}


.cart__buttons-row button {
	cursor: pointer;
	padding: 3px 7px;
	border: none;
	outline: noen;
	font-weight: bold;
	color: #fff;
}

.cart__button-minus {
	background-color: red;
}
.cart__button-plus {
	background-color: green;
}

.cart__foot {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	align-items: center;
}

.cart__pay {
	cursor: pointer;
}

.card__search {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translate(-50%, -50%);
}

.card__input {
	position: relative;
}

.header__link {
	position: relative;
}

.header__cart-count {
	position: absolute;
	top: -15px;
	right: 5px;
}

.cart__title {
	text-align: center;
}

.cart__img {
	display: block;
	margin: 0 auto;
}

.card__notfound-img {
	display: block;
	width: 50%;
	margin: 0 auto;
}

.card__notfound-title {
	text-align: center;
}

.footer {
	color: #fff;
	background-color: #ee6e73;
	width: 100%;
	padding-bottom: 40px;
	padding-top: 40px;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__col {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.footer__icons-block {
	display: flex;
	padding: 0 10px;
	column-gap: 10px;
}

.footer__icons {
	font-size: 23px;
	color: #fff;
}

.footer__logo {
	margin: 0;
}

.footer__contact {
	margin: 0;
}

select {
	//width: 35%;
	display: inline-block!important;
	padding: 5px 15px;
}

.home__card-size {
	display: flex;
	column-gap: 10px;
	align-items: center;
}

.shoeMore__row {
	display: flex;
	column-gap: 40px;
}

.shoeMore__col-img {
	width: 60%;
	img {
		width: 100%;
	}
}

.shoeMore__col-details {
	width: 40%;
}

.home__card-size b {
	white-space: nowrap;
}

.home__card-size select {
	width: 100px;
}

.shoeMore__number {
	width: 40px!important;
	padding-left: 10px!important;
}

.shoeMore__pay {
	display: flex;
	column-gap: 25px;
	align-items: center;
}

.shoeMore__description {
	margin-bottom: 40px;
}

.card-like {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	font-size: 24px;
	color: red;
}

.form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 30px 20px;
	border: 1px solid #000;
	text-align: center;
	&__title {
		font-size: 30px;
		margin: 0 0 25px;
	}
	&__text {
		margin: 10px 0;
	}
	&__list {
		display: flex;
		justify-content: center;
		column-gap: 20px;
		margin: 10px 0;
		&-item {
			font-size: 22px;
			cursor: pointer;
		}
	}
}